<div id="company-review">
<div>
  <input class="search-input" [(ngModel)]="searchTerm" placeholder="Unesite naziv ili adresu" />
    <button mat-raised-button color="primary"  class="search-button" (click)="onSearchClick()">Pretraži</button>
</div>
<div>
  <mat-slider class="rating-slider" min="1" max="5" step="1"  >
    <input  matSliderThumb [(ngModel)]="maxRating">
    <span class="slider-label">Max ocena: {{ maxRating }}</span>
  </mat-slider>
  <mat-slider class="rating-slider" min="1" max="5" step="1"  >
    <input  matSliderThumb [(ngModel)]="minRating">
    <span class="slider-label">Min ocena: {{ minRating }}</span>
  </mat-slider>
<div>
<button *ngIf="!isFilterApplied" mat-stroked-button color="primary" (click)="filterByRating()">Filter</button>
<button *ngIf="isFilterApplied" mat-raised-button (click)="resetRatingFilters()">Reset</button>
</div>
</div>
<table class="company-table">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Adresa</th>
      <th>Ocena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.name }}</td>
      <td>{{ company.address }}</td>
      <td>{{ company.averageRating }}</td>
      <td>
        <button mat-stroked-button color="primary" (click)="onSeeMoreClicked(company)" >
            See More
        </button>
    </td>
    </tr>
  </tbody>
</table>
</div>