<div id="equipment-overview">
    <p>Total Complaints: {{ complaints.length }}</p>
    <table class="equipment-table">
        <thead>
            <tr>
                <th>User:</th>
                <th>Company:</th>
                <th>Complaint Content:</th>
                <th>Response:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let complaint of complaints">
                <td>{{ complaint.userDto?.name || 'No User Name' }}</td>
                <td>{{ complaint.companyDto?.name || 'No Company Name' }}</td>
                <td>{{ complaint.complaintContent }}</td>
                <td>
                    <form [formGroup]="responseForm" id="userForm" (ngSubmit)="onSubmit(complaint)">
                      <label for="name">Response:</label><br/>
                      <textarea id="response" formControlName="response" required></textarea><br/>
                      <button type="submit">Submit</button>
                    </form>
                  </td>
            </tr>
        </tbody>
    </table>
</div>
