<div class="registrationComponent">
    <h2 *ngIf="companyAdministrator?.user?.name; else noUserName">Hi, {{ companyAdministrator?.user?.name }}. Change Password:</h2>
    <ng-template #noUserName>
        <h2>Change Password:</h2>
    </ng-template>

    <div class="user-form-container">
        <form [formGroup]="changePasswordForm" id="userForm" (ngSubmit)="onSubmit()">
            <label for="password">Input New password:</label>
            <input type="password" id="password" formControlName="password" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>
