<div>
    <div class="taken-reservations-title-section">
        <h1 class="taken-reservations-title">My Pickup History</h1>
    </div>
<div>
<table class="taken-reservations">
    <thead>
      <tr>
        <th (click)="sortReservationsByColumn('date')">
          Datum
          <span *ngIf="sortByColumn === 'date'" [class]="sortByOrder === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
        </th>
        <th (click)="sortReservationsByColumn('duration')">
          Trajanje
          <span *ngIf="sortByColumn === 'duration'" [class]="sortByOrder === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
        </th>
        <th (click)="sortReservationsByColumn('price')">
          Cena
          <span *ngIf="sortByColumn === 'price'" [class]="sortByOrder === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
        </th>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ formatDate(reservation.appointment?.startDate || '') | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ reservation.appointment?.duration }}</td>
        <td>{{ reservation.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
