.title {
  margin-top: 170px;
  text-align: center;
}

.appointments-table {
    width: 70%;
    margin-top: 50px;
    border-collapse: collapse;
    margin-left: 220px;
  }
  
  .appointments-table th, .appointments-table td{
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  .appointments-table th {
    background-color: #f2f2f2;
  }