<div>
  <div class="appointments-title-section">
    <h1 class="appointments-title">My reservations</h1>
</div>
    <table class="appointments-table">
        <thead>
          <tr>
            <th>QR code</th>
            <th>Start Date</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of userAppointments">
            <td>
              <img class="qr" [src]="'http://localhost:8080/' + reservation.qrCode" alt="QR Code">

            </td>
            <td>{{ formatDate(reservation.appointment?.startDate || '') | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ reservation.appointment?.duration }}</td>
            <td>{{ reservation.status }}</td>
            <td>
              <button mat-stroked-button color="primary" (click)="onCancelClicked(reservation.appointment)">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>