/* appointment-statistics.component.css */
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Pomerite formu malo niže prema potrebi */
  }
  
  form {
    display: flex;
    gap: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  select {
    padding: 8px;
    font-size: 14px;
  }

  /* Add this to your component's CSS or global styles */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  