.company-title-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(42, 6, 119);
    margin-bottom: 30px;
    margin-top: 150px;
    font-size: larger;
    font-weight: bold;
}