.company-title-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(42, 6, 119);
    margin-bottom: 30px;
    margin-top: 150px;
    font-size: larger;
    font-weight: bold;
}

.equipment-table {
    width: 70%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: 220px;
  }
  
  .equipment-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .equipment-table th {
    background-color: #f2f2f2;
  }

  .appointments-table {
    width: 70%;
    margin-top: 70px;
    border-collapse: collapse;
    margin-left: 220px;
  }
  
  .appointments-table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .appointments-table th {
    background-color: #f2f2f2;
  }

  .reserve {
    margin-top: 70px;
    width: 80px;
    height: 40px;   
    border-radius: 18px;
    margin-left: 700px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white; 
  }

  .reserve:hover {
    background-color: #45a049; 
}