<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <div class="registrationComponent"></div>
    
        <h2>This is your first time logging in. Change Password:</h2>
        <form [formGroup] = "changePasswordForm" id="userForm" (ngSubmit)="onSubmit()">

            <label for="password">Input New password:</label>
            <input type="password" id="password" formControlName="password" required>

            <label for="confirmationPassword">Confirm New Password:</label>
            <input type="password" id="confirmationPassword" formControlName="confirmationPassword" required [ngStyle]="{'border-color': (submitted && changePasswordForm.get('confirmationPassword')?.invalid) || (changePasswordForm.get('confirmationPassword')?.value !== changePasswordForm.get('password')?.value) ? 'red' : ''}">

            <div *ngIf="changePasswordForm.get('passwordMismatch')?.value" class="alert alert-danger">
                Password and Confirmation Password do not match.
            </div>            

            <button type="submit">Submit</button>
        </form>
</body>
</html>