<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <div class="registrationComponent"></div>
    
        <h2>This is your first time logging in, {{ administrator?.user?.name || 'User' }}. Change Password:</h2>
        <form [formGroup] = "changePasswordForm" id="userForm" (ngSubmit)="onSubmit()">

            <label for="password">Input New password:</label>
            <input type="password" id="password" formControlName="password" required>

            <button type="submit">Submit</button>
        </form>
</body>
</html>