<div class="login-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form" class="login-form">
        <h2 class="login-title">Welcome!</h2>
            <input formControlName="email" matInput placeholder="email" required>

            <input formControlName="password" matInput placeholder="password" required type="password">
        <button [disabled]="!loginForm.form.valid" color="primary"
            type="submit" class="login">Log in</button>

    </form>
</div>