<router-outlet></router-outlet>
<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
    background-color: #2f8cc3;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .medbooking-text {
    font-size: 24px;
    margin-left: 90px;
    font-family: sans-serif;
  }

  .profile {
    margin-left: 740px;
  }

  .login {
    background-color: #2f8cc3; 
    border: none;
    border-radius: 20px; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer;
    padding: 15px 30px; 
    margin-right: 10px;
  }

  .login:hover {
    background-color: white; 
    color: #2f8cc3;
  }

  .registration {
    background-color: #2f8cc3;
    border: 2px solid white;
    border-radius: 25px; 
    color: white; 
    padding: 15px 30px; 
    cursor: pointer;
  }

  .registration:hover {
    background-color: white; 
    color: #2f8cc3; 
  }

</style>

<div class="toolbar">
  <div class="medbooking-text">MedBooking</div>
  <div class="profile">
    <button class="login">Log in</button>
    <button class="registration">Sign up</button>
  </div>
     
</div>


 

