<router-outlet></router-outlet>
<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
    background-color: #2f8cc3;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .medbooking-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-left: 90px;
  }

  .profile {
    margin-left: 1100px;
  }

  .login {
    background-color: #2f8cc3; 
    border: none;
    border-radius: 20px; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer;
    padding: 15px 30px; 
    margin-right: 10px;
  }

  .login:hover {
    background-color: white; 
    color: #2f8cc3;
  }

  .registration {
    background-color: #2f8cc3;
    border: 2px solid white;
    border-radius: 25px; 
    color: white; 
    padding: 15px 30px; 
    cursor: pointer;
  }

  .registration:hover {
    background-color: white; 
    color: #2f8cc3; 

  
  }</style>

<router-outlet></router-outlet>
<div class="toolbar">
  <div class="medbooking-text">MedBooking</div>
  <div class="profile">
    <ng-container *ngIf="!isUserLoggedIn(); else loggedInTemplate">
      <button routerLink="/login" class="login">
        <span>Login</span>
      </button>
      <button  (click)="register()" class="registration">
        <span>Sign up</span>
      </button>
    </ng-container>
    <ng-template #loggedInTemplate>
      <button [matMenuTriggerFor]="userMenu" mat-button>
        <span >Hello </span>
      </button>
      <button [matMenuTriggerFor]="userMenu" class="greeting-hamburger" mat-icon-button>
      </button>
    </ng-template>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </div> 
</div>
<router-outlet></router-outlet>